*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./1.jpg);
    background-position: centre;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    
}
.icons{
    width: 200px;
    height:70px;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.logo{
    color: #90b0e7;
    font-size: 35px;
    font-family: Arial;
    padding-left: 50px;
    float: left;
    padding-top: 15px;
}
.menu{
    position: relative;
    left: 20%;
    
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #90b0e7;
}
.search{
    position: relative;
    width: 330px;
    float: left;
    left: 45%;
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px sold #90b0e7;
    margin-top: 14px;
    color: #fff;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 90px;
    height: 35px;
    background: #90b0e7;
    border: 2px solid #90b0e7;
    margin-top: 16px;
    color: #fff;
    font-size: 15px;
    border-radius: 9px;
    margin-left: 15px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    position: absolute;
    left: 8cqi;
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 19%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: darkorchid;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.content .cn a{
    text-decoration: none;
    color:#ffffff;
    transition: .3s ease;
}
.cn:hover{
    background-color:#4d85e4;
}
.content span{
    color: #90b0e7;
    font-size:60px;
}
.form{
    width: 300px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 50%;
    left: 90%;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width:220px;
    font-family: sans-serif;
    text-align: center;
    color: #90b0e7;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #90b0e7;
    border-right: none;
    border-left: none;
    border-top: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial;
}
.btns{
    width: 240px;
    height: 40px;
    background: darkorchid;
    border: none;
    margin-top:30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    transition: 0.4s ease;
}
.btns:hover{
    background:#4d85e4;
    color:#fff;
}
.form .btns a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form a{
    text-decoration: none;
    color: #90b0e7;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}